.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 14, 26, 0.4);
}

.logo {
  color: #b04330;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.logo:hover {
  color: #ffd977;
}
.logo_icon {
  color: #b04330;
  width: 50px;
}
.logo_icon:hover {
  color: #ffd977;
}
