.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 14, 26, 0.4);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  text-shadow: 0 0 0.5vw #1041ff, 0 0 1.5vw #1041ff, 0 0 5vw #1041ff,
    0 0 5vw #1041ff, 0 0 0.2vw #8bfdfe, 0.3vw 0.3vw 0.05vw #147280;
  color: #28d7fe;
}

.logo:hover {
  color: #fff;
  text-shadow: 0 0 0.5vw #1041ff, 0 0 1.5vw #1041ff, 0 0 5vw #1041ff,
    0 0 5vw #1041ff, 0 0 0.2vw #8bfdfe, 0.3vw 0.3vw 0.05vw #147280;
}
.logo_icon {
  text-shadow: 0 0 0.5vw #1041ff, 0 0 1.5vw #1041ff, 0 0 5vw #1041ff,
    0 0 5vw #1041ff, 0 0 0.2vw #8bfdfe, 0.3vw 0.3vw 0.05vw #147280;
  color: #28d7fe;
  width: 50px;
}
.logo_icon:hover {
  text-shadow: 0 0 0.5vw #1041ff, 0 0 1.5vw #1041ff, 0 0 5vw #1041ff,
    0 0 5vw #1041ff, 0 0 0.2vw #8bfdfe, 0.3vw 0.3vw 0.05vw #147280;
  color: #fff;
}
