.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  color: #b04330;
  font-size: 24px;
  font-weight: bold;
}

.link:global(.active) {
  color: #ae1f1a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.link:hover {
  color: #ffd977;
}
