.container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  font-size: 24px;
  color: rgb(88, 61, 7);
  font-weight: bold;
}

.link:global(.active) {
  color: rgb(88, 61, 7);
  text-shadow: 2px 2px 4px rgba(133, 86, 5, 0.5);
}

.link:hover {
  color: rgb(220, 152, 16);
  border-bottom: 1px solid;
}
