.container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  font-size: 24px;
  color: #b04330;
  font-weight: bold;
}

.link:global(.active) {
  color: #ae1f1a;
  border-bottom: 1px solid;
}

.link:hover {
  color: #ffd977;
  border-bottom: 1px solid;
}
